<!DOCTYPE html>
<html>
    
    <head>
        <title>Homework 05</title>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="index.css" />
        <script src="twitter-entities.js"></script>
        <script src="index.js"></script>
    </head>
    
    <body>
        <div class="container">
        
            <h1>Homework 05</h1>
            
            <div class="row">
                <div class="col-md-6">
                
                    <h2>Public Search:</h2>
                    <form id="getposts_form" role="form">
                    
                        <div class="form-group">
                            <label for="search">Search</label>
                            <input type="text" class="form-control" id="search" name="search" placeholder="(Enter search terms to search Tweets)">
                        </div>

                        <!-- TODO: add a dropdown for lang, and a dropdown for result_type here -->
                        
                         <div class="form-group">
                            <label for="lang">Language</label>
                            <select id="lang" name="lang" class="form-control">
                                <option value="">Any</option>
                                <option value="en">English</option>
                                <option value="es">Spanish</option>
                                <option value="fr">French</option>
                                <option value="ja">Japanese</option>
                            </select>
                        </div>
                        
                         <div class="form-group">
                            <label for="result_type">Result Type</label>
                            <select id="result_type" name="result_type" class="form-control">
                                <option value="">Any</option>
                                <option value="mixed">Mixed</option>
                                <option value="recent">Recent</option>
                                <option value="popular">Popular</option>
                            </select>
                        </div>
                        
                        <button class="btn btn-default" type="submit" id="submit">Submit</button>
                        
                    </form>

                </div>
                <div class="col-md-6">

                    <h2>Results:</h2>
                    <div id="errors"></div>
                    <ul id="output" class="list-group">
                        
                    </ul>
                    <template id="tweet">
                        <li class="tweet list-group-item">
                            <!-- TODO: add badges HTML code for retweets and favorites here -->
                            <a href = ""><span class="retweets badge" style = "background-color: purple">{{retweet_count}}</span></a>
                            <a href = ""><span class="retweets badge" style = "background-color: #00cc99">{{favorite_count}}</span></a>
                        </li>
                    </template>

                </div>
            </div>
            
            <div class="modal" id="ajaxIndicator" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body" style="text-align: center;">
                            <p>Please wait ...</p>
                            <p>
                                <img src="ajax-loader.gif" />
                            </p>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
                        
    </body>

</html>
